externals/gkmhd/inputs/gkmhd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- document element -->

  <xs:element name="parameters">
    <xs:complexType>
      <xs:all>
        <xs:element ref="rr0" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="elongation" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="triangularity" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="beta" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="delta" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="jj0" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="wn" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="econvg" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="grid_choice" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="j_choice" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="cpo_choice" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="nx00" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="npesx" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="nr_eq" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="nchi_eq" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="niter_eq" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="write_cpos" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="write_snaps" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="write_diags" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="write_debug" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

<xs:element name="rr0" type="xs:float"/>
<xs:element name="elongation" type="xs:float"/>
<xs:element name="triangularity" type="xs:float"/>
<xs:element name="beta" type="xs:float"/>
<xs:element name="delta" type="xs:float"/>
<xs:element name="jj0" type="xs:float"/>
<xs:element name="wn" type="xs:float"/>
<xs:element name="econvg" type="xs:float"/>

<xs:element name="grid_choice">
  <xs:simpleType>
     <xs:restriction base="xs:string">
        <xs:pattern value="rho_pol|rho_tor|rho_vol|rho_cut"/>
     </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="j_choice">
  <xs:simpleType>
     <xs:restriction base="xs:string">
        <xs:pattern value="jphi|jparallel"/>
     </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="cpo_choice">
  <xs:simpleType>
     <xs:restriction base="xs:string">
        <xs:pattern value="SFL|GEMT"/>
     </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="nx00" type="xs:integer"/>
<xs:element name="npesx" type="xs:integer"/>
<xs:element name="nr_eq" type="xs:integer"/>
<xs:element name="nchi_eq" type="xs:integer"/>
<xs:element name="niter_eq" type="xs:integer"/>
<xs:element name="write_cpos" type="xs:boolean"/>
<xs:element name="write_snaps" type="xs:boolean"/>
<xs:element name="write_diags" type="xs:boolean"/>
<xs:element name="write_debug" type="xs:boolean"/>

</xs:schema>

