externals/ets/XML/equilibrium_augmenter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- document element -->
  <xs:element name="parameters">				
    <xs:annotation>
      <xs:documentation>
        GLOBAL: parameters for equilibrium_augmenter
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="input" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- input parameters -->
  <xs:element name="input">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify input CPO options
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="nr" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_min" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_max" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_add" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_mul" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="nz" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_min" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_max" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_add" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_mul" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="nr" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        number of points in R
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_min" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        minimum R
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_max" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        maximum R
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_add" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        additional R distance
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_mul" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        fraction to be added to R
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nz" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        number of points in Z
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_min" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        minimum Z
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_max" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        maximum Z
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_add" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        additional Z distance
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_mul" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        fraction to be added to Z
      </xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
