externals/ets/XML/ets_workflow.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- document element -->
  <xs:element name="parameters">				
    <xs:annotation>
      <xs:documentation>
        GLOBAL: parameters for eq_ets_test
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="input" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="output" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="dims" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="compositions" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="startup" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="boundary" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="equilibrium" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="solver" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="experimental" minOccurs="0" maxOccurs="1"/>
       </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- input parameters -->
  <xs:element name="input">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify input CPO options
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="shot_in" maxOccurs="1"/>
         <xs:element ref="run_in" maxOccurs="1"/>
         <xs:element ref="interpol" maxOccurs="1"/>
         <xs:element ref="time_dep_input" maxOccurs="1"/>
         <xs:element ref="db_in" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="shot_in" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        shot number
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="run_in" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        run number
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="interpol" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        interpolation index
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="time_dep_input" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        1 implies time dependence in input data
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="db_in" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        input database format (mdsplus or hdf5) [default: mdsplus]
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- output parameters -->
  <xs:element name="output">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify output CPO options
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="shot_out" maxOccurs="1"/>
         <xs:element ref="run_out" maxOccurs="1"/>
         <xs:element ref="tau_out" maxOccurs="1"/>
         <xs:element ref="db_out" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="shot_out" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        shot number
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="run_out" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        run number
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau_out" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        output frequency
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="db_out" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        output database format (mdsplus or hdf5) [default: mdsplus]
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- dims parameters -->
  <xs:element name="dims">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify the dimensions
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="nrho" maxOccurs="1"/>
         <xs:element ref="npsi" maxOccurs="1"/>
         <xs:element ref="neq_dim1" maxOccurs="1"/>
         <xs:element ref="neq_dim2" maxOccurs="1"/>
         <xs:element ref="neq_max_npoints" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="nrho" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        NRHO,  number of radial points
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="npsi" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        NPSI,   number of equilibrium points
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="neq_dim1" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        NDIM1, number of points for 2-D equilibrium signals in R direction
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="neq_dim2" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        NDIM2, number of points for 2-D equilibrium signals in Z direction
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="neq_max_npoints" type="IntegertList">		
    <xs:annotation>
      <xs:documentation>
        MAX_NPOINTS,  number of equilibrium boundary points
      </xs:documentation>
    </xs:annotation>
  </xs:element>




  <!-- solver parameters -->
  <xs:element name="solver">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify parameters for the solver
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all >
        <xs:element ref="rho" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="solver_type" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sigma_source" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="tau" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="tau_inc" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="tau_dec" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="iter_inc" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="iter_dec" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="tau_min" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="tau_max" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="amix" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="convrec" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ntime" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="start_time" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="nsol" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ext_equil" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="equil_mod" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="augment_equil" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ext_source" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ext_transport" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="add_transport" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="quasi_neut" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="icoronal" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="rho" type="StringList">		
    <xs:annotation>
      <xs:documentation>
        expression giving the relative weighting of points in rho
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="solver_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        choice of numerical solver
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sigma_source" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        option for origin of Plasma electrical conductivity: 0: plasma collisions; 1: transport module; 2: source module
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        TAU, time step [s]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau_inc" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        time step increment factor if ITERATIONS .LT. ITER_INC
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau_dec" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        time step decrement factor if ITERATIONS .GT. ITER_DEC
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="iter_inc" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        ITERATION limit to cause increase in time-step
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="iter_dec" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        ITERATION limit to cause decrease in time-step
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau_min" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        minimum TAU, time step [s]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tau_max" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        maximum TAU, time step [s]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="amix" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        AMIX, mixing factor
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="convrec" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        PRECISION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ntime" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        NTIME, number of time points
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="start_time" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Start time [s]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nsol" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        Number of analytical example
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ext_equil" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        call external equilibrium: 0: none, 1: BDSEQ, 2: EMEQ, 3: HELENA
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="equil_mod" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        if non zero, the equilibrium will only be called when NITER mod EQUIL_MOD == 0
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="augment_equil" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        if 1 add psi(R,Z), B(R,Z) using splines
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ext_source" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        call external source routines: if 2, call combine_source
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ext_transport" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        call external transport routines: if 2, call combine_transport
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="add_transport" type="xs:float">		
    <xs:annotation>
      <xs:documentation>
        additional diffusive transport coefficient
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="quasi_neut" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Quasi neutrality:0-electrons; 1-ions from BC; 2-ions fron charge
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="icoronal" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Coronal flag: "0"-OFF; "1" - replace boundary conditions by coronal; "2" - replace boundary conditions and profiles by coronal
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- startup -->
  <xs:element name="startup">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify parameters for the startup
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="prof_flag" maxOccurs="1"/>
        <xs:element ref="j0_flag" maxOccurs="1"/>
        <xs:element ref="q0_flag" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="prof_flag" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Flag for primary current quantity: 1-PSI, 2-Q, 3-JPAR
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="j0_flag" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Flag for negative current density: 0-allowed, .GT. 0-cut off
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="q0_flag" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Flag for q0
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- compositions parameters -->
  <xs:element name="compositions">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify the compositions
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="ions" maxOccurs="1"/>
         <xs:element ref="impurity" maxOccurs="1"/>
         <xs:element ref="neutrals" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>


  <!-- ion composition -->
  <xs:element name="ions">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify ion composition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="amn" maxOccurs="1"/>
         <xs:element ref="zn" maxOccurs="1"/>
         <xs:element ref="zion" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="amn" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        atomic mass IONS
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="zn" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        nuclear charge IONS
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="zion" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        charge IONS
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  

  <!-- impurity composition -->
  <xs:element name="impurity">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify impurity composition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="amn_imp" maxOccurs="1"/>
         <xs:element ref="zn_imp" maxOccurs="1"/>
         <xs:element ref="max_z_imp" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="amn_imp" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        atomic mass IMPURITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="zn_imp" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        nuclear charge IMPURITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="max_z_imp" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        maximum charge IMPURITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  

  <!-- neutral composition -->
  <xs:element name="neutrals">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify neutrals composition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="cold_neutrals" maxOccurs="1"/>
         <xs:element ref="thermal_neutrals" maxOccurs="1"/>
         <xs:element ref="fast_neutrals" maxOccurs="1"/>
         <xs:element ref="NBI_neutrals" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="cold_neutrals" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        flag for cold neutrals
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="thermal_neutrals" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        flag for thermal neutrals
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fast_neutrals" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        flag for fast neutrals
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NBI_neutrals" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        flag for NBI neutrals
      </xs:documentation>
    </xs:annotation>
  </xs:element>



  <!-- boundary parameters -->
  <xs:element name="boundary">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify parameters for the boundary condition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="type" maxOccurs="1"/>
        <xs:element ref="value" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="type">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify types for the boundary condition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="psi_bnd_type" maxOccurs="1"/>
        <xs:element ref="ne_bnd_type" maxOccurs="1"/>
        <xs:element ref="ni_bnd_type" maxOccurs="1"/>
        <xs:element ref="ti_bnd_type" maxOccurs="1"/>
        <xs:element ref="te_bnd_type" maxOccurs="1"/>
        <xs:element ref="vtor_bnd_type" maxOccurs="1"/>
        <xs:element ref="nimp_bnd_type" maxOccurs="1"/>
        <xs:element ref="n0_bnd_type" maxOccurs="1"/>
        <xs:element ref="t0_bnd_type" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="psi_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions CURRENT
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ne_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions ELECTRON DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ni_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions ION DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ti_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions ION TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="te_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions ELECTRON TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="vtor_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions ROTATION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nimp_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions IMPURITY DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="n0_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions NEUTRALS DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="t0_bnd_type" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        Type of boundary conditions NEUTRALS TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>



  <xs:element name="value">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify values for the boundary condition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="psi_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ne_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ni_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ti_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="te_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="vtor_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="nimp_bnd_value" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="n0_bnd_value_cold" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="n0_bnd_value_thermal" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="t0_bnd_value_cold" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="t0_bnd_value_thermal" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="psi_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions CURRENT
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ne_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions ELECTRON DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ni_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions ION DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ti_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions ION TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="te_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions ELECTRON TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="vtor_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions ROTATION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nimp_bnd_value" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions IMPURITY DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="n0_bnd_value_cold" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions cold NEUTRAL DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="n0_bnd_value_thermal" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions thermal NEUTRAL DENSITY
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="t0_bnd_value_cold" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions cold NEUTRAL TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="t0_bnd_value_thermal" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        Value of boundary conditions thermal NEUTRAL TEMPERATURE
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- experimental parameters -->
  <xs:element name="experimental">				
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify experimental options
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="option" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="ncolumns" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="evolution_labels" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="evolution_data" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="StringList">
     <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="FloatList">
     <xs:list itemType="xs:float"/>
  </xs:simpleType>

  <xs:element name="option" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        option #: 0: disabled
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ncolumns" type="xs:integer">		
    <xs:annotation>
      <xs:documentation>
        number of columns
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="evolution_labels" type="StringList">	
    <xs:annotation>
      <xs:documentation>
        labels of the evolving quantities
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="evolution_data" type="FloatList">		
    <xs:annotation>
      <xs:documentation>
        values of the evolving quantities
      </xs:documentation>
    </xs:annotation>
  </xs:element>

 

  <!-- equilibrium parameters -->
  <xs:element name="equilibrium">					
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify main equilibrium quantities
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
         <xs:element ref="ip" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_geo" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_geo" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="b_geo" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="r_plasma" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="z_plasma" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="tria_low" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="b_plasma" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="amin" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="elong" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="tria_up" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="eq_source" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="ip" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Total plasma current
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_geo" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        R geometrical axis of the device
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_geo" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Z geometrical axis of the device
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="b_geo" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Bt geometrical axis of the device
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="r_plasma" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        R plasma axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="z_plasma" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Z plasma axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="b_plasma" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        Bt plasma axis
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="amin" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        a minor radius equatorial plane
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elong" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        elongation
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tria_up" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        upper triangularity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tria_low" type="xs:float">			
    <xs:annotation>
      <xs:documentation>
        lower triangularity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="eq_source" type="xs:integer">			
    <xs:annotation>
      <xs:documentation>
        flag for initial equilibrium
      </xs:documentation>
    </xs:annotation>
  </xs:element>


</xs:schema>
