externals/ets/XML/source_dummy.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- document element -->
  <xs:element name="parameters">
    <xs:annotation>
      <xs:documentation>
        GLOBAL: parameters for Gaussian sources
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="currents" maxOccurs="1"/>
        <xs:element ref="electrons" maxOccurs="1"/>
        <xs:element ref="ions" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="FloatList">
     <xs:list itemType="xs:float"/>
  </xs:simpleType>




  <!-- current source parameters -->
  <xs:element name="currents">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify currents
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="JNITOT" maxOccurs="1"/>
        <xs:element ref="RCURR" maxOccurs="1"/>
        <xs:element ref="FWCURR" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="JNITOT" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Total noninductive current [A]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RCURR" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Position of the current profile maximum [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWCURR" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Full width at the halth maximum of current profile [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>




  <!-- electrons parameters -->
  <xs:element name="electrons">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify electron heating
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="heating_el" maxOccurs="1"/>
        <xs:element ref="particles_el" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="heating_el">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify heating
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="WTOT_el" maxOccurs="1"/>
        <xs:element ref="RHEAT_el" maxOccurs="1"/>
        <xs:element ref="FWHEAT_el" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="WTOT_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Total heating power [W]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RHEAT_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Position of the heating profile maximum [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWHEAT_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Full width at the half maximum of heating profile [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:element name="particles_el">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify heating
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="STOT_el" maxOccurs="1"/>
        <xs:element ref="RPART_el" maxOccurs="1"/>
        <xs:element ref="FWPART_el" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="STOT_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Total electron particle source [1/s]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RPART_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Position of the electron source profile maximum [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWPART_el" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        Full width at the half maximum of electron source profile [m]
      </xs:documentation>
    </xs:annotation>
  </xs:element>





  <!-- ions parameters -->
  <xs:element name="ions">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify ion parameters
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="composition" maxOccurs="1"/>
        <xs:element ref="heating" maxOccurs="1"/>
        <xs:element ref="particles" maxOccurs="1"/>
        <xs:element ref="momentum" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>


  <!-- composition parameters -->
  <xs:element name="composition">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify composition
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="AMN" maxOccurs="1"/>
        <xs:element ref="ZN" maxOccurs="1"/>
        <xs:element ref="ZION" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="AMN" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        atomic mass; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ZN" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        nuclear charge; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ZION" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        charge; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- heating parameters -->
  <xs:element name="heating">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify heating
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="WTOT" maxOccurs="1"/>
        <xs:element ref="RHEAT" maxOccurs="1"/>
        <xs:element ref="FWHEAT" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="WTOT" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Total heating power [W]; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RHEAT" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Position of the heating profile maximum [m]; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWHEAT" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Full width at the half maximum of heating profile [m]; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- particle source parameters -->
  <xs:element name="particles">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify particles
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="STOT" maxOccurs="1"/>
        <xs:element ref="RPART" maxOccurs="1"/>
        <xs:element ref="FWPART" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="STOT" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Injection rate [s^-1]; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RPART" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Position of the source profile maximum [m]; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWPART" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Full width at the half maximum of source profile [m]; from 1 to NION 
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- momentum source parameters -->
  <xs:element name="momentum">
    <xs:annotation>
      <xs:documentation>
        BLOCK: specify momentum
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="UTOT" maxOccurs="1"/>
        <xs:element ref="RMOM" maxOccurs="1"/>
        <xs:element ref="FWMOM" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="UTOT" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Total momentum [kg*m^2*s^-1]; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RMOM" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Position of the momentum profile maximum [m]; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FWMOM" type="FloatList">
    <xs:annotation>
      <xs:documentation>
        Full width at the half maximum of momentum profile [m]; from 1 to NION
      </xs:documentation>
    </xs:annotation>
  </xs:element>



</xs:schema>
