externals/ets/XML/source_combiner.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parameters">
    <xs:annotation>
      <xs:documentation>
        GLOBAL: Parameters for source combiner
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CURRENT" maxOccurs="1"/>
        <xs:element ref="NE" maxOccurs="1"/>
        <xs:element ref="TE" maxOccurs="1"/>
        <xs:element ref="NI" maxOccurs="1"/>
        <xs:element ref="TI" maxOccurs="1"/>
        <xs:element ref="VTOR" maxOccurs="1"/>
        <xs:element ref="NZ" maxOccurs="1"/>
        <xs:element ref="TZ" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CURRENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jni" maxOccurs="1"/>
        <xs:element ref="conductivity" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" ref="explicit_source"> </xs:element>
        <xs:element maxOccurs="1" ref="implicit_source"> </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="VTOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="explicit_source" maxOccurs="1"/>
        <xs:element ref="implicit_source" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="jni">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OFF" maxOccurs="1"/>
        <xs:element ref="from_input_CPOs"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="conductivity">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OFF" maxOccurs="1"/>
        <xs:element ref="from_input_CPOs"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="explicit_source">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OFF" maxOccurs="1"/>
        <xs:element ref="from_input_CPOs"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="implicit_source">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OFF" maxOccurs="1"/>
        <xs:element ref="from_input_CPOs"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>


  <xs:element name="from_input_CPOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Multipliers_for_contributions_from"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Multipliers_for_contributions_from">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Data_Base"/>
        <xs:element ref="Gaussian"/>
        <xs:element ref="Synchrotron"/>
        <xs:element ref="HCD"/>
        <xs:element ref="Neutrals"/>
        <xs:element ref="Impurity"/>
        <xs:element ref="Neoclassical"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OFF" type="xs:string"
    fixed="all source coefficients for this channel will be nulified"/>

  <xs:element default="1" name="Data_Base" type="xs:float"/>
  <xs:element default="1" name="Gaussian" type="xs:float"/>
  <xs:element default="1" name="Synchrotron" type="xs:float"/>
  <xs:element default="1" name="HCD" type="xs:float"/>
  <xs:element default="1" name="Neutrals" type="xs:float"/>
  <xs:element default="1" name="Impurity" type="xs:float"/>
  <xs:element default="1" name="Neoclassical" type="xs:float"/>
</xs:schema>
