externals/ets/XML/SPIDER.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- document element -->
  <xs:element name="parameters">
    <xs:annotation>
      <xs:documentation>
        GLOBAL: parameters for source combiner
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="SPIDER" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- SPIDER parameters -->
  <xs:element name="SPIDER">
    <xs:annotation>
      <xs:documentation>
        SPIDER input switches and resolution
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="icontrol" maxOccurs="1"/>
        <xs:element ref="key_iter" maxOccurs="1"/>
        <xs:element ref="nrho" maxOccurs="1"/>
        <xs:element ref="ntheta" maxOccurs="1"/>
        <xs:element ref="neq" maxOccurs="1"/>
        <xs:element ref="tolerance" maxOccurs="1"/>
        <xs:element ref="iinput" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="icontrol" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        control key for spider input
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="key_iter" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        control key for spider iterrations
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nrho" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        radial grid in SPIDER
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ntheta" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        poloidal grid in SPIDER
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="neq" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        radial grid for input parameters
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="tolerance" type="xs:float">
    <xs:annotation>
      <xs:documentation>
        required tolerance
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="iinput" type="xs:integer">
    <xs:annotation>
      <xs:documentation>
        control key for spider input, iinput = 1 Pprime and FFprime are taken from CPO
      </xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
